<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-list class="formulario">
      <ion-item>
        <h1 class="titulo">Recuperar Contraseña</h1>
        <p class="IOC">
          Ingresa tu email y te enviaremos un correo con los pasos para poder
          recuperar tu contraseña
        </p>
        <br />
        <ion-label position="floating">Ingrese su correo electrónico</ion-label>
        <ion-input aria-label="Correo Electronico" type="email"></ion-input>
      </ion-item>
    </ion-list>

    <div class="botones">
      <ion-button class="login-button" expand="block"
        >Recuperar contraseña</ion-button
      >
      <p routerLink="/login" class="crea-cuenta olvide">Volver al inicio</p>
    </div>
  </div>
</ion-content>
