<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"> </ion-header>
  <div class="container">
    <div class="cube">
      <div class="image"></div>
      <ion-button expand="block">Busco Transporte</ion-button>
    </div>
    <div class="cube">
      <div class="image"></div>
      <ion-button expand="block">Ofrezco Transporte</ion-button>
    </div>
  </div>
</ion-content>
