
.container{
    width: 100%;
    height: 100%;
    padding: 30px;
    gap: 30px;
    display: grid;
}

.cube{
    width: 100%;
    height: 100%;
    border: 1px solid #545F71;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.image{
    width: 100%;
    height: 60%;
    border-radius: 8px;
    background-color: #EEF1F4;
}

ion-button{
    --background: #545F71;
}