<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Bienvenido {{actualUser.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 id="name"></h1>
  <div class="container">
    <div class="cube">
      <div class="image"></div>
      <ion-button expand="block" (click)="goToAvailible()"
        >Busco Transporte</ion-button
      >
    </div>
    <div class="cube">
      <div class="image"></div>
      <ion-button expand="block" (click)="goToSelection()"
        >Ofrezco Transporte</ion-button
      >
    </div>
  </div>
</ion-content>
