ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 150px;
}

.formulario {
  width: 100%;
  padding: 0px 20px;
}

.titulo {
  font-weight: bolder;
  font-size: 40px;
}

.IOC {
  color: #7f89a7;
}

#pass-icon {
  position: relative;
  top: 25px;
}

.crea-cuenta {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.olvide {
  text-align: center;
  color: #697085;
  cursor: pointer;
}

.login-button {
  --background: #697085;
  --color: #ffffff;
  width: 350px;
  height: 50px;
  --border-radius: 6px;
}

.botones {
  position: absolute;
  bottom: 25px;
}
