<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-list>
      <ion-item>
        <h1 class="titulo">TeLlevoApp</h1>
        <p class="IOC">Inicia sesión o <span class="crea-cuenta">crea una cuenta aquí</span></p>
        <br>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="{{ passwordType }}" [(ngModel)]="password"></ion-input>
        <ion-icon slot="end" name="{{ passwordIcon }}" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button class="login-button sep" expand="full" [disabled]="!isFormValid()" (click)="login()">Iniciar sesión</ion-button>
    <p class="crea-cuenta olvide">Olvide mi contraseña</p>
    
  </div>
</ion-content>
