ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}


.titulo {
  font-weight: bold;
}

.IOC {
  color: #7f89a7;
}

.crea-cuenta {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.olvide {
  text-align: center;
  color: #697085;
  cursor: pointer;
}

.login-button {
  --background: #697085;
  --color: #FFFFFF;
  --border-radius: 250px;
  width: 350px;
  height: 50px;
  
}

.sep{
  margin-top: 250px;
}




