<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Armar Ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="todo">
  <div class="container">
    <ion-list class="formulario">
      <ion-item>
        <div id="map"></div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Comuna</ion-label>
        <ion-input aria-label="Comuna" [(ngModel)]="comuna"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tarifa</ion-label>
        <ion-input aria-label="Tarifa" [(ngModel)]="tarifa"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <div class="button-container">
    <ion-button (click)="guardar()" class="button1" expand="block"
      >Iniciar Ruta</ion-button
    >
  </div>
</ion-content>
